openapi: 3.1.0
info:
  title: ShopMy Partners Catalog Order Reporting API
  version: '1.0'
  description: The ShopMy Partners API lets Brand Partners and developer applications integrate with the ShopMy creator-commerce network. Brand Partners pull detailed affiliate order reports; OAuth developer applications act on behalf of authenticated ShopMy users to read and create product links, manage shelf collections, resolve/rate product URLs, search the catalog, and read public profile information. All requests must be made over HTTPS.
  contact:
    name: ShopMy Developer Support
    email: developers@shopmy.us
    url: https://docs.shopmy.us/
  x-apievangelist:
    method: searched
    generated: '2026-07-21'
    source: https://docs.shopmy.us/reference/getting-started-with-your-api
    note: Derived faithfully from the ShopMy developer documentation at docs.shopmy.us (per-endpoint reference pages + embedded schema examples). Paths, methods, parameters, scopes and status codes are as published; not an official ShopMy-published OpenAPI file.
servers:
- url: https://api.shopmy.us/v1/Partners
  description: Production
tags:
- name: Order Reporting
  description: Brand Partner affiliate order reports (developer-key auth).
paths:
  /OrderReport:
    post:
      tags:
      - Order Reporting
      operationId: fetchOrderReport
      summary: Fetch Order Report
      description: Fetch a report on orders to your brand. Supports all affiliate program sources and returns detailed ShopMy order records, sorted by transaction date descending. A daily rate limit of 200 requests per day is enforced (including paginated requests); at 500 orders per call this yields up to 100,000 orders per day.
      security:
      - developerKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - domain
              properties:
                domain:
                  type: string
                  description: Brand domain registered in ShopMy.
                limit:
                  type: integer
                  format: int32
                  default: 500
                  maximum: 500
                  description: Number of orders per page (max 500).
                page:
                  type: integer
                  format: int32
                  default: 0
                  description: Page offset, zero-indexed.
                transactionStartDate:
                  type: string
                  description: Filter by transaction date after (format 'YYYY-MM-DD HH:mm:ss' UTC).
                transactionEndDate:
                  type: string
                  description: Filter by transaction date before (format 'YYYY-MM-DD HH:mm:ss' UTC).
                recordUpdatedStartDate:
                  type: string
                  description: Filter by record update date after (format 'YYYY-MM-DD HH:mm:ss' UTC).
                recordUpdatedEndDate:
                  type: string
                  description: Filter by record update date before (format 'YYYY-MM-DD HH:mm:ss' UTC).
                reportBySKU:
                  type: boolean
                  default: false
                  description: Break down orders by SKU where applicable.
                source:
                  type: string
                  description: Filter orders by affiliate network source (e.g. 'shopmyshelf').
      responses:
        '200':
          description: Successful response.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
components:
  responses:
    RateLimited:
      description: Rate limit exceeded (200 requests per day).
    BadRequest:
      description: Bad request.
    Unauthorized:
      description: 'Unauthorized. Example - "Missing required scopes: The user has not authorized you to perform this action."'
  securitySchemes:
    developerKey:
      type: http
      scheme: bearer
      description: 'Brand/developer key sent as `Authorization: Bearer <developer key>`. Found in Brand Account Settings under Tokens > Developer Key.'
    accessToken:
      type: apiKey
      in: header
      name: X-ACCESS-TOKEN
      description: 'Per-user long-term OAuth access token sent as `X-ACCESS-TOKEN: Bearer <access token>`, obtained via the OAuth token exchange.'
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization-code flow for acting on behalf of ShopMy users.
      flows:
        authorizationCode:
          authorizationUrl: https://shopmy.us/oauth
          tokenUrl: https://api.shopmy.us/v1/Partners/oauth-exchange-token
          scopes:
            read_links: View product links.
            write_links: View and edit product links.
            read_collections: View shelf collections.
            write_collections: Create and edit collections.
            read_profile: View public profile information.
