openapi: 3.1.0
info:
  title: ShopMy Partners API
  version: '1.0'
  description: >-
    The ShopMy Partners API lets Brand Partners and developer applications
    integrate with the ShopMy creator-commerce network. Brand Partners pull
    detailed affiliate order reports; OAuth developer applications act on behalf
    of authenticated ShopMy users to read and create product links, manage
    shelf collections, resolve/rate product URLs, search the catalog, and read
    public profile information. All requests must be made over HTTPS.
  contact:
    name: ShopMy Developer Support
    email: developers@shopmy.us
    url: https://docs.shopmy.us/
  x-apievangelist:
    method: searched
    generated: '2026-07-21'
    source: https://docs.shopmy.us/reference/getting-started-with-your-api
    note: >-
      Derived faithfully from the ShopMy developer documentation at
      docs.shopmy.us (per-endpoint reference pages + embedded schema examples).
      Paths, methods, parameters, scopes and status codes are as published; not
      an official ShopMy-published OpenAPI file.
servers:
  - url: https://api.shopmy.us/v1/Partners
    description: Production
tags:
  - name: Order Reporting
    description: Brand Partner affiliate order reports (developer-key auth).
  - name: Links
    description: Create and fetch a user's ShopMy product links (OAuth).
  - name: Collections
    description: Create, edit and fetch a user's ShopMy shelf collections (OAuth).
  - name: Catalog
    description: Search the ShopMy catalog and resolve/rate product URLs (OAuth).
  - name: Profile
    description: Read the authenticated user's public ShopMy profile (OAuth).
  - name: OAuth
    description: OAuth token exchange for developer applications.
paths:
  /OrderReport:
    post:
      tags: [Order Reporting]
      operationId: fetchOrderReport
      summary: Fetch Order Report
      description: >-
        Fetch a report on orders to your brand. Supports all affiliate program
        sources and returns detailed ShopMy order records, sorted by transaction
        date descending. A daily rate limit of 200 requests per day is enforced
        (including paginated requests); at 500 orders per call this yields up to
        100,000 orders per day.
      security:
        - developerKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [domain]
              properties:
                domain:
                  type: string
                  description: Brand domain registered in ShopMy.
                limit:
                  type: integer
                  format: int32
                  default: 500
                  maximum: 500
                  description: Number of orders per page (max 500).
                page:
                  type: integer
                  format: int32
                  default: 0
                  description: Page offset, zero-indexed.
                transactionStartDate:
                  type: string
                  description: "Filter by transaction date after (format 'YYYY-MM-DD HH:mm:ss' UTC)."
                transactionEndDate:
                  type: string
                  description: "Filter by transaction date before (format 'YYYY-MM-DD HH:mm:ss' UTC)."
                recordUpdatedStartDate:
                  type: string
                  description: "Filter by record update date after (format 'YYYY-MM-DD HH:mm:ss' UTC)."
                recordUpdatedEndDate:
                  type: string
                  description: "Filter by record update date before (format 'YYYY-MM-DD HH:mm:ss' UTC)."
                reportBySKU:
                  type: boolean
                  default: false
                  description: Break down orders by SKU where applicable.
                source:
                  type: string
                  description: "Filter orders by affiliate network source (e.g. 'shopmyshelf')."
      responses:
        '200':
          description: Successful response.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /Links:
    get:
      tags: [Links]
      operationId: fetchLinks
      summary: Fetch Links
      description: >-
        Fetch a user's ShopMy links. Requires the read_links OR write_links
        scope.
      security:
        - developerKey: []
          accessToken: []
      responses:
        '200':
          description: Successful response.
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags: [Links]
      operationId: createLink
      summary: Create Link
      description: >-
        Create a ShopMy link for a user from a product URL. Requires the
        write_links scope.
      security:
        - developerKey: []
          accessToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url]
              properties:
                url:
                  type: string
                  description: Product URL of the link to create.
                title:
                  type: string
                  description: Link title (defaults to an auto-generated value).
      responses:
        '200':
          description: Link created.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /Urls:
    post:
      tags: [Catalog]
      operationId: fetchUrlRate
      summary: Fetch URL Rate
      description: >-
        Get a user's merchant rate for a product URL. Requires the write_links
        scope.
      security:
        - developerKey: []
          accessToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url]
              properties:
                url:
                  type: string
                  description: Product URL to get a user's merchant rate for.
      responses:
        '200':
          description: Successful response.
        '400':
          description: Missing URL or no merchant.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /Catalog/search:
    get:
      tags: [Catalog]
      operationId: searchCatalog
      summary: Search Catalog
      description: >-
        Search the ShopMy catalog or resolve a product URL when building a link
        creation experience. Provide either `search` or `url`, not both.
        Requires the write_links scope.
      security:
        - developerKey: []
          accessToken: []
      parameters:
        - name: search
          in: query
          schema: { type: string }
          description: Query for catalog products (provide this OR url, not both).
        - name: url
          in: query
          schema: { type: string }
          description: Product URL to resolve (provide this OR search, not both).
        - name: limit
          in: query
          schema: { type: integer, format: int32, default: 20, maximum: 50 }
          description: Results per page (max 50).
        - name: page
          in: query
          schema: { type: integer, format: int32, default: 0 }
          description: Zero-indexed page number.
      responses:
        '200':
          description: Successful search results.
        '400':
          description: Invalid query parameters (missing or conflicting parameters).
        '401':
          $ref: '#/components/responses/Unauthorized'
  /Collections:
    get:
      tags: [Collections]
      operationId: fetchCollections
      summary: Fetch Collections
      description: >-
        Fetch a user's ShopMy collections. Requires the read_collections OR
        write_collections scope.
      security:
        - developerKey: []
          accessToken: []
      responses:
        '200':
          description: Successful response.
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags: [Collections]
      operationId: createCollection
      summary: Create Collection
      description: >-
        Create a ShopMy collection for a user. Partner-created collections are
        always public. Requires the write_collections scope.
      security:
        - developerKey: []
          accessToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  description: Collection name.
                description:
                  type: string
                  description: Collection description.
                social_links:
                  type: array
                  items: { type: string }
                  description: >-
                    Social URLs attached to the collection. Each must be an
                    HTTPS Instagram, TikTok, or YouTube URL. May be sent as an
                    array or comma-separated string.
                section_id:
                  type: integer
                  description: >-
                    Section for placement; defaults to the user's first standard
                    shop section.
      responses:
        '200':
          description: Collection created.
        '400':
          description: Bad request (missing name, invalid section, or invalid social link).
        '401':
          $ref: '#/components/responses/Unauthorized'
  /Collections/{id}:
    put:
      tags: [Collections]
      operationId: editCollection
      summary: Edit Collection
      description: >-
        Edit one of the authenticated user's ShopMy collections. Collection
        privacy cannot be updated through this endpoint. Requires the
        write_collections scope.
      security:
        - developerKey: []
          accessToken: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
          description: Collection identifier.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                description: { type: string }
                social_links:
                  type: array
                  items: { type: string }
                  description: >-
                    Social URLs attached to the collection. Each must be an
                    HTTPS Instagram, TikTok, or YouTube URL.
                section_id: { type: integer }
      responses:
        '200':
          description: Collection updated.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /Profile:
    get:
      tags: [Profile]
      operationId: fetchProfile
      summary: Fetch Profile
      description: >-
        Fetch the authenticated user's public ShopMy profile information.
        Requires the read_profile scope.
      security:
        - developerKey: []
          accessToken: []
      responses:
        '200':
          description: Successful response.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /oauth-exchange-token:
    post:
      tags: [OAuth]
      operationId: oauthExchangeToken
      summary: OAuth Exchange Token
      description: >-
        Exchange a one-time OAuth authorization code (shopmy_code) for a
        long-term access token. Token exchange can only be done once per user
        for security purposes; store the resulting access token securely.
      security:
        - developerKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [shopmy_code]
              properties:
                shopmy_code:
                  type: string
                  description: The one-time authorization code from the OAuth redirect.
      responses:
        '200':
          description: Access token issued.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  securitySchemes:
    developerKey:
      type: http
      scheme: bearer
      description: >-
        Brand/developer key sent as `Authorization: Bearer <developer key>`.
        Found in Brand Account Settings under Tokens > Developer Key.
    accessToken:
      type: apiKey
      in: header
      name: X-ACCESS-TOKEN
      description: >-
        Per-user long-term OAuth access token sent as
        `X-ACCESS-TOKEN: Bearer <access token>`, obtained via the OAuth token
        exchange.
    oauth2:
      type: oauth2
      description: >-
        OAuth 2.0 authorization-code flow for acting on behalf of ShopMy users.
      flows:
        authorizationCode:
          authorizationUrl: https://shopmy.us/oauth
          tokenUrl: https://api.shopmy.us/v1/Partners/oauth-exchange-token
          scopes:
            read_links: View product links.
            write_links: View and edit product links.
            read_collections: View shelf collections.
            write_collections: Create and edit collections.
            read_profile: View public profile information.
  responses:
    BadRequest:
      description: Bad request.
    Unauthorized:
      description: >-
        Unauthorized. Example - "Missing required scopes: The user has not
        authorized you to perform this action."
    Forbidden:
      description: Forbidden.
    RateLimited:
      description: Rate limit exceeded (200 requests per day).
